<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Us</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <p>We are a local congregation of arabic-speaking believers.</p>
              <p>We started meeting in 2005, through the international outreach
                 of First Baptist Church of Lilburn.</p>
            </div>
            <div class="col-sm-6">
              <p>We meet together "to equip the saints for the work of ministry, 
                 for building up the body of Christ, until we all attain 
                 to the unity of the faith and of the knowledge of the Son 
                 of God, to mature manhood, to the measure of the stature 
                 of the fullness of Christ." (Ephesians 4:12-13)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive" style="width: 100%" src="img/joy-sanctuary-service.jpg" alt="A worship service">
            </div>
        </div>
    </div>
</section>