<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
              <h3>We are a body of arabic-speaking believers</h3>
            </div>
            <div class="col-sm-4 portfolio-item">
            </div>
            <div class="col-sm-4 portfolio-item">
            </div>
        </div>
    </div>
</section>