<section class="success" id="where">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>
          Where We Meet
        </h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/staticmap.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We meet in the Joy Sanctuary of First Baptist Church of Lilburn.</p>
      </div>
    </div>
  </div>
  </div>
</section>