 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">You can email our pastor at: mokhles hanna [at] gmail.com</p>
                    <p class="text-center">Or, You can visit our 
                        <a href="https://www.facebook.com/groups/421427194628615/">Facebook</a> Group.
                        <a href="https://www.facebook.com/groups/421427194628615/" class="btn-social">
                          <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>